<h1>Welkom op de site van "Op Bezoek In Nederland"!</h1>
<p>Welkom op de site van "Op Bezoek In Nederland"! "Op Bezoek In Nederland" (ook bekend onder de afkorting OBIN) is een app gemaakt door het team van MDL Solutions waarmee u uzelf wegwijs kunt maken in grote (en minder grote) steden!
Bezoek de leukste plekken van o.a. Delft, Den Haag, Monster, enzovoort.</p>