<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>Hallo beheerder,</p>
		<p>Er is een bericht verzonden via het contactformulier.
		Hieronder de inhoud van het bericht:<br />
		<br />
		Naam: <%= @contact.name %><br />
		<br />
		Email: <%= @contact.email %><br />
		<br />
		Bericht: <%= @contact.content %></p>
		<br />
	</body>
</html>