<p><b>OBIN (Op Bezoek In Nederland)</b> is een site die is ontstaan uit het idee van MDL Solutions om een locatie-solutie app te maken om toeristen wegwijs te maken op een interessante locatie.<br />
MDL Solutions uit Monster speelde al een tijdje met het idee om dit te verwezenlijken.</p>

<p><b>MDL Solutions</b> is een ICT-bedrijf gesitueerd in Monster dat zich vooral bezighoudt met het maken van websites, apps, en programma's op medisch gebied. Enkele producten die van dit bedrijf komen zijn MCCE en
New Dutch Academy, waar deze site in bepaalde mate op gebaseerd is.</p>